@(cts: List[uk.bl.wa.w3act.CollectionTree], all:Boolean)

@import includes._

<div class="collection-view">
  <table id="collections-table" class="table table-striped table-bordered table-reponsive sortable-table">
  <thead>
  <tr>
  <th>Title</th>
  <th>Sections</th>
  <th>Websites (Open Access)</th>
  </tr>
  </thead>
  @for( ct <- cts ) {
    @if( ct.publish || all ) {
        <tr>
        <td@if( !ct.publish) { class="unpublished-collection-link"}><a href="@routes.Application.viewCollection(ct.id)">@ct.title</a>@if( !ct.publish) {&nbsp;<i>unpublished</i>}</td>
        <td>@ct.getNumberOfCollections(true)</td>
        <td>@ct.getNumberOfTargets(true) (@ct.getNumberOfOpenAccessTargets(true))</td>
        </tr>
    }
  }
  </table>
</div>

<!-- 
  <div class="col-md-6 col-xs-12">
      collectionSummary(ct)
  </div>
 -->
