@(title: String, scripts: Html = Html(""))(content: Html)(implicit lang: Lang)

@import play.i18n._

<!DOCTYPE html>
<html lang="@lang">
    <head>
        <title>@title - @Messages.get("site.title")</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css">
    </head>
    <body>
		<nav class="navbar navbar-default" role="navigation">
  			<div class="navbar-header">				
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span> <span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="@routes.Application.index()">
					<img src="@routes.Assets.versioned("images/ukwa-icon-nobg-16.png")" />
						@Messages.get("site.title")
				</a>
			</div>
			<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
							<ul class="dropdown-menu">
          @if( Messages.get("site.github_username") != null ) {
            <li><a href="https://github.com/@Messages.get("site.github_username")">
              <span class="username">@Messages.get("site.github")</span>
            </a></li>
          }

          @if( Messages.get("site.twitter_username") != null ) {
            <li><a href="https://twitter.com/@Messages.get("site.twitter_username")">
              <span class="username">@Messages.get("site.twitter")</span>
            </a></li>
          }        
							</ul>
						</li>
                        <li><a href="@routes.Application.viewCollections()">Browse</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					   <li><a href="http://britishlibrary.typepad.co.uk/webarchive/">Our Blog</a>
                       <li><a href="mailto:@{Messages.get("site.email")}">Contact Us</a></li>
					</ul>
			</div><!-- /.nav-collapse -->
		</nav>
		<div class="container">

  <header class="page-header">
    <h1>@title</h1>
  </header>
    
  <article>

     @content
     
  </article>
        
<footer>

    <div class="well">

    @Messages.get("site.description")
    
      <div class="pull-right">
        @if( lang.equals(Lang.forCode("cy-GB")) ) {
          <a href="@routes.Application.switchLang_en_GB()">Translate to English</a>
        } else {
          <a href="@routes.Application.switchLang_cy_GB()">Translate to Welsh</a>
        }      
      | Cookie warning | Notice and takedown | Terms and conditions | Privacy statement
      </div>

    </div>

</footer>

       </div>


        <script src="@routes.Assets.versioned("javascripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js"></script>

@scripts
        
    </body>
</html>
