@(t: uk.bl.wa.w3act.Target)

@main(t.title) {

    <p>
    @Html(t.description)
    </p>
    
    <ul>
    <li>
    <a href="@{play.Play.application().configuration().getString("wayback.prefix")}/*/@t.primaryUrl.url">@t.primaryUrl.url</a>
    </li>
    <li><a href="@t.primaryUrl">Original site</a> (may now be offline)</li>
    <li>Archived since/betweed DATES by USER at Organisation</li>
    <li>Collections</li>
    <li>Subjects</li>
    <li>Instances</li>
    <li>Search within</li>
    </ul>

<h3>Instances</h3>    
    <ul>
    @for( i <- t.getAllInstances() ) {
        <li>@i.waybackTimestamp</li>
    }
    </ul>

}
