@(t: uk.bl.wa.w3act.Target)

@main(t.title) {

  <div class="row">
    <div class="col-md-6 col-xs-12">

    <p>
    @Html(t.description)
    </p>
    
    <ul>
    <li>
    <a href="@{play.Play.application().configuration().getString("wayback.prefix")}/*/@t.primaryUrl.url">@t.primaryUrl.url</a>
    </li>
    <li><a href="@t.primaryUrl.url">Original site</a> (may now be offline)</li>
    @if( t.endDate != null ) {
    <li>Archived between @t.startDate.format("dd MMM YYYY") - @t.endDate.format("dd MMM YYYY") by USER at ORGANIZATION.</li>
    } else {
    <li>Archived since @t.startDate.format("dd MMM YYYY") by USER at ORGANIZATION.</li>
    }
    <li>Open Access? @t.isOpenAccess</li>
    <li>Language: @t.language</li>
    <li>Additional URLs:
    @for( (u,i) <- t.additionalUrls.zipWithIndex ) {
        <a href="@u.url">@i</a>&nbsp;
    }
    </li>
    <li>Collections</li>
    <li>Subjects</li>
    <li>Instances</li>
    <li>Search within</li>
    </ul>

    </div>
    <div id="instances" class="col-md-6 col-xs-12">

    <ul>
    @for( (i, index) <- t.getInstances().zipWithIndex ) {
      <li class="thumb @if(index==0){ thumb-first } @if(index%2==0){ thumb-odd } else { thumb-even }">
        <div class="thumbnail">
        <a href="@i.getPlaybackUrl()">
            <img class="img-responsive img-rounded" src="@routes.ScreenshotProxyController.screenshot(i.getPlaybackUrl())" alt="Screenshot of @t.title from @i.timestamp.format("dd MMM YYYY")" title="@t.title from @i.timestamp.format("dd MMM YYYY")">
        </a>
        <div class="caption">
        <span class="thumb-date">@i.timestamp.format("dd MMM YYYY")</span>
        </div>
        </div>
      </li>
    }
    </ul>
    
    </div>
  </div>

}
