footer {
	margin-top: 2em;
}

.collection-targets-thumbnails {
	margin-top: 1em;
}
.collection-targets-thumbnails .thumbnail {
	height: 150px;
	overflow: hidden;
	text-align: center;
}
.collection-targets-thumbnails .thumbnail img {
	border: 1px solid #ddd;
	min-height: 100px;
}
.collection-targets-thumbnails .thumbnail .caption {
	padding: 4px;
}

#instances {
  overflow:hidden;	
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEElEQVQIW2NMTEz8z8gABAAPKwIlXWq1kgAAAABJRU5ErkJggg==);
  background-repeat:repeat-y;
  background-position:50% 0;
}
#instances ul {
  margin: 0px auto;
  margin-top: 4em;
  height: auto;
  position: relative;
  padding:0px;
  list-style-type:none;

}

#instances .thumb {
    text-align:center;
    float: right;
    clear: both;
    width: 45%;
    margin: 1em 2.5%;
    
    border-radius: 5px;
    list-style-type: none;
    display: block;
    padding: .4em;
}

#instances .thumb-first {
    margin-top: -4em;
}

#instances .thumb-even {
	float: left;
}

#instances .thumb-odd {
	float: right;
}

#instances .thumb img {
    background-color: #eee;
    width: 200px;
    height: 150px;
}

#instances .thumb-date {
    position: absolute;
    margin-top: 1.5em;
    padding: 0.5em;
    background-color: #eee;
    border-radius: 0.5em;
    z-index: -10;
    border: 1px solid #e8e8e8;
}
#instances .thumb-even .thumb-date {
    left: 10%;
    right: 30%;
    text-align: right; 
    padding-right: 1em;
}  
#instances .thumb-odd .thumb-date {
    right: 10%;
    left: 30%;
    text-align: left;
    padding-left: 1em;
}

#instances img {
	border: 1px solid #ccc;
}
#collection-tree-list .collection-tree-toggle {
   text-decoration: none;
}
#collection-tree-list .collection-tree-toggle.collapsed .glyphicon:before {
    content: "\e079"; 
}