footer {
	margin-top: 2em;
}

.collection-targets-thumbnails {
	margin-top: 1em;
}
.collection-targets-thumbnails .thumbnail {
	height: 150px;
	overflow: hidden;
	text-align: center;
}
.collection-targets-thumbnails .thumbnail img {
	border: 1px solid #ddd;
	min-height: 100px;
}
.collection-targets-thumbnails .thumbnail .caption {
	padding: 4px;
}

#instances {
  overflow:hidden;	
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEElEQVQIW2NMTEz8z8gABAAPKwIlXWq1kgAAAABJRU5ErkJggg==);
  background-repeat:repeat-y;
  background-position:50% 0;
}
#instances ul {
  margin: 0px auto;
  margin-top: 5em;
  height: auto;
  position: relative;
  padding:0px;
  list-style-type:none;

}

#instances .thumb {
    text-align:center;
    float: right;
    clear: none;
    width: 45%;
    margin: 0em 2.5%;
    
    border-radius: 5px;
    list-style-type: none;
    display: block;
    padding: .4em;
}

#instances .thumb .thumbnail {
	margin-bottom: 0;
}

#instances .thumb-first {
    margin-top: -5em;
}

#instances .thumb-even {
	float: left;
}

#instances .thumb-odd {
	float: right;
}

#instances .thumb img {
}

#instances .thumb-date {
}
#instances .thumb-even .thumb-date {
}  
#instances .thumb-odd .thumb-date {
}

#instances img {
	border: 1px solid #ccc;
}
#collection-tree-list .collection-tree-toggle {
   text-decoration: none;
}
#collection-tree-list .collection-tree-toggle.collapsed .glyphicon:before {
    content: "\e079"; 
}